body {
  min-height: 2000px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #f9e2ff;
}

#projects {
  background-color: #f9e2ff;
}

#contact {
  padding-bottom: 2rem;
}

section {
  padding-top: 5rem;
}
